version: "3.8"

services:
  postgres-test-app:
    build:
      context: .
    ports:
      - "8000:8000"
    networks:
      - mynet
    environment:
      - IS_CONTAINER=true
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=db
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_DB=${POSTGRES_DB}
    depends_on:
      - db
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  db:
    image: postgres
    restart: always
    user: postgres
    volumes:
      - db-data:/var/lib/postgresql/data # Ensure data persists
      - ./seed-data:/docker-entrypoint-initdb.d # Mount init directory
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_DB=${POSTGRES_DB}
    expose:
      - ${POSTGRES_PORT}
    ports:
      - "${POSTGRES_EXTERNAL_PORT}:${POSTGRES_PORT}" # Open an external port so we can connect to the DB from an IDE on dev machine, requires some config adding a .pgpass file to the users home space
    networks:
      - mynet

volumes:
  db-data:

networks:
  mynet:
    driver: bridge
